<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zzr.mynote.mapper.ErrorLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.zzr.mynote.entity.ErrorLog">
        <result column="id" property="id" />
        <result column="ip" property="ip" />
        <result column="method" property="method" />
        <result column="url" property="url" />
        <result column="params" property="params" />
        <result column="type" property="type" />
        <result column="message" property="message" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ip, method, url, params, type, message
    </sql>

</mapper>
