<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zzr.mynote.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.zzr.mynote.entity.UserInfo">
    <result column="id" property="id" />
        <result column="type" property="type" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="createTime" property="createTime" />
        <result column="status" property="status" />
        <result column="isDelete" property="isDelete" />
        <result column="updateTime" property="updateTime" />
        <result column="updateUserId" property="updateUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        type, password, email, createTime, status, isDelete, updateTime, updateUserId
    </sql>
    <select id="selectUserInfoPage" resultType="org.zzr.mynote.entity.UserInfo">
        select * from user_info ${ew.customSqlSegment}
    </select>
</mapper>
